---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4><b>Bio</b></h4>
  <p>
      <br>I am a faculty member at the <a href="https://viterbi.usc.edu/directory/faculty/Rostami/Mohammad">USC Computer Science department</a> with a joint appointment at the ECE department and a Research Lead at
    the <a href="https://www.isi.edu/directory/mrostami/">USC Information Sciences Institute</a>. 
    I obtained my PhD from the Univeristy of Pennsylvania, where my adviser was <a href="https://www.seas.upenn.edu/~eeaton/">Eric Eaton</a>. Before that, I obtained my master's degree
    from the University of Waterloo, advised by <a href="https://ece.uwaterloo.ca/~z70wang/">Zhou Wang</a>, and my undergrad degrees from Sharif Univeristy of Technology. 
  </p>
</div>

<!-- ========== Research ========== -->
<div class="docs-section" id="research">
  <h4><b>Research</b></h4>
    Despite significant progress in AI, natural inteligence can still outperform AI in terms of learning efficiency and robustness, in a wide range of problems. There are also challenges to 
  adopt AI in domains at which explainabilty is a primary concern. Transfer learning is a primary research focus in the machine learning community to close the gap between natural inteligence and AI.
    <b>My research focus is transfer learning in general. More specifically, I am interested in learning in data-scarce regimes to improve the <i>speed, efficiency, and robustness</i> of machine learning
    </b>.
    My current research interests include:
    <dl style="PADDING-LEFT: 40px">
    <dt><b>Lifelong/Continual Learning</b></dt>
    <dd>Lifelong learning is the ability of learning efficiently from a stream of data through benefiting from past experiences, and without forgetting the past learned knowledge. Compared
      to many areas of AI, continual learning is still at its conception stage and there are many challenges that need to be addressed. Incorporating symbolic logic into continual learning is an area that I am very
      interested in. </dd>
    <dt><b>Domain Adaptation</b></dt>
    <dd>Domain adaptation relaxes the need for data annotation in a "target domain" through transferring knowledge from a relevant "source domain", where annotated data is accessible.
      Despite many existing works on domain adaptation, there are many application domains and subareas in domain adaptation that are not well-explored.</dd>
    <dt><b>Low-Shot Leaning, including Zero-Shot and Few-Shot Learning</b></dt>
    <dd>The goal in low-shot learning is acquiring the ability to recognize instances from novel classes using a small number of training instances from these classes.</dd>
    <dt><b>Applications of transfer learning techniques</b></dt>
    <dd>In application areas such as medicine and remote sensing, using data-driven deep learning is not feasible. Transfer learning can help to broaden the outreach of deep learning. We can also
      use it to train explainable models to improve trust in AI.</dd>
    </dl>
  </p>


</div>


<!--- ========== PROJECTS ==========
<h4><b>Recent Research Areas</b></h4>

<div class="docs-section" id="projects">
  {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
    {% for project in selected_projects %}
      {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}
          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <center>
                  <b>{{ project.title }}</b> <br/>
                  </center>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
</div>
--->

<!-- ========== Awards ========== -->
<div class="docs-section" id="awards">
  <h4><b>Awards</b></h4>
  <p>
      <br> UPenn Joseph D'16 and Rosaline Wolf Best PhD Dissertation Award
    <br> IJCAI Distinguished Student Paper Award
    <br> University of Waterloo Outstanding Graduate Achievement Award 
    <br> Keston Research Award
    <br> ISI Exploratory Research Award
  </p>
</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4><b>Publications</b></h4>

  <p>Most publications are listed on <a href="https://scholar.google.com/citations?user=Uzx8nLoAAAAJ&hl=en&oi=ao" target="_blank">Google Scholar</a>.</p>
</div>


<!-- ========== Prospective Students ========== -->
<div class="docs-section" id="prospectivestudents">
  <h4><b>Prospective Students</b></h4>
  <p>
    Please check the following if you are interested in joining my group:
    <dl style="PADDING-LEFT: 40px">
    <dt><b>PhD Applicants:</b></dt>
    <dd>I understand that many applicants would like to know more about the PhD program before the application deadline but
      I apologize in advance that due to a large number of PhD application inquiries, 
      I cannot respond to all emails. If you are interested in working with me, please read about my research interests and mention my name on your PhD application. 
      I will check your profile after our deadline when the application pool is ready. 
      I may respond to a small number of emails if I feel that you have checked my publication well and consciously have narrowed down your research interests. 
      You can also email me after the application deadline to let me know your application is complete. Almost all decisions are done after the application deadline.</dd>
    <dt><b>MSc Students:</b></dt>
    <dd>If you are already a master's student at USC and are interested in doing your thesis under my supervision, 
      please check my recent papers and contact me for further discussion. 
      Fruitful theses are normally the result of at least two semesters of continual effort.</dd>
    <dt><b>USC Undergraduate Students:</b></dt>
    <dd>Please contact me if you have already passed 2-3 courses on machine learning, data science, and artifcial inteligence.</dd>
    <dt><b>Volunteer Remote Students:</b></dt>
    <dd>Remote collaborations have become common recently and I have received inquiries for this purpose. 
      You can contact me for volunteer-based collaboration. I will try to define a research project for you but please note that remote collaboration requires 
      significant motivation on your end.</dd>
    </dl>
  </p>


</div>




<!---
<div class="docs-section" id="people">
  <h4>Advisees</h4>


  <ul class="tab-nav">
    <li><div class="button active" data-ref="#current">Current</div></li>
    <li><div class="button" data-ref="#former">Former</div></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="current">
      {% assign current_people = site.data.students.students | where: "category", "current" %}
      {% for person in current_people %}
        <div class="paper">
          <p class="title"><b>{{ person.name }}</b> ({{ person.time }})</p>
          <p><i>{{ person.place }}</i></p>
          {% if person.current %}
          <p> {{ person.current }} </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="former">
      {% assign former_people = site.data.students.students | where: "category", "former" %}
      {% for person in former_people %}
        <div class="paper">
          <p class="title"><b>{{ person.name }}</b> ({{ person.time }})</p>
          <p><i>{{ person.place }}</i></p>
          {% if person.current %}
          <p> {{ person.current }} </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    
  </div>
</div>
--->




<!--- ========== RESUME ==========
<div class="docs-section" id="resume">
  <h4>Resume</h4>

  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
--->

<!-- ========== Teaching ========== -->
<div class="docs-section" id="teaching">
  <h4><b>Teaching</b></h4>
  <p>
      <br> Fall 2021, Fall 2022: Applied Natural Language Processing (CSCI 544)
    <br> Fall 2020: Building Knolwedge Graphs (DSCI 558)
  </p>
</div>


<!-- ========== students ========== -->
<div class="docs-section" id="students">
  <h4><b>Students</b></h4>
  <p>
    <br> <a href="https://scholar.google.com/citations?user=A8J42tQAAAAJ&hl=en&oi=ao">Zizhao Hu</a> 
    <br> <a href="https://scholar.google.com/citations?user=vVpwClsAAAAJ&hl=en&oi=sra">Mengxi Wu</a> 
    <br> <a href="https://www.linkedin.com/in/mohammadamin-banayeeanzade-38512b220/">Mohammadamin Banayeeanzade</a> 
    <br> <a href="https://www.linkedin.com/in/yuliang-cai/">Yuliang Cai</a> 
    <br> <a href="https://scholar.google.com/citations?user=se6-c6cAAAAJ&hl=en&oi=ao">Serban Stan</a>, graduated in 2022, subsequently joined Beyond Limits as a research scientist.
  </p>
</div>


<div class="docs-section" id="ack">
  <h6>Acknowledgement</h6>
  <p>
    This website uses the website design and template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a>
  </p>
</div>
